.list-group-item {
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  font-size: 1.1em;
}

.list-group-item:focus {
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  font-size: 1.1em;
  outline: none;
}

li.list-group-item.ng-star-inserted.active {
  border-radius: 10px;
}

.list-group-item:active {
  cursor: pointer;
  padding: 10px 20px;
  font-size: 1.1em;
}

.list-group-item:not(.active):hover {
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  font-size: 1.1em;
  color: #fff;
  background-color: #2fa4e783;
  border-radius: 10px;
}
